@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0% 4rem;
}

h4,h3,a{
  font-size: 1rem;
  color:rgb(77, 77, 77);
}

h3{
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
